1. Игровое поле
    1.1 Игровое поле состоит из 8-ми горизонтальных («горизонтали») и 8-ми вертикальных рядов («вертикали») последовательно чередующихся светлых и тёмных клеток. Все горизонтали пронумерованы арабскими цифрами 
    (от «1» до «8»), а вертикали – буквами латинского алфавита (от «a» до «h»).

2. Шашки
    2.1 Каждый участник играет набором фишек («шашек») своего цвета. В каждом наборе по 12 шашек.
    2.2 белые шашки располагаются на полях a1, c1, e1, g1, b2, d2, f2, h2, a3, c3, e3 и g3;
    2.3 черные шашки располагаются на полях h8, f8, d8, b8, g7, e7, c7, a7, h6, f6, d6 и b6;

3. Ход игры
    3.1 Игру начинают «белые» шашки, после этого участники ходят по очереди друг за другом.
    3.2 Каждым ходом игрок перемещает одну свою шашку на 1 клетку по диагонали.
        3.2.1 Шашки перемещаются только вперёд (по направлению к противоположному концу поля). 
        3.2.2 Шашки перемещаться только по «чёрным» клеткам.
        3.2.3 Шашка не может переместиться на клетку, занятую другой шашкой.
        3.2.4 Шашка не может «перепрыгивать» через шашки и дамки своего цвета.
    3.3 Если шашка игрока оказывается на соседней клетке с клеткой, занятой шашкой противника, и за шашкой противника имеется свободная клетка, шашка игрока обязана переместиться через шашку противника на эту свободную клетку. При этом шашка противника убирается с поля и считается «взятой».
        3.3.1 Если после взятия шашка игрока может взять ещё одну шашку противника, она обязана сделать это.
        3.3.2 Шашка может рубить как вперед, так и назад.
        3.3.3 В один и тот же ход одну и ту же шашку можно взять только один раз. Все взятые в течение хода шашки убираются с поля по окончании хода. Если в результате серии взятий шашка игрока вновь выходит к уже взятой шашке, ход игрока немедленно заканчивается (и все взятые шашки убираются с поля). 
        3.3.4 В случае, когда у игрока есть несколько вариантов взятия шашек противника, он сам выбирает подходящий ему вариант.

4. Дамка
    4.1 Если шашка достигает противоположного конца поля (горизонталь «8» для «белых», горизонталь «1» для «чёрных»), она тут же превращается в «дамку».
    4.2 Дамки, подобно обычным шашкам, перемещаются только по «чёрным» поля.
        4.2.1 Дамки могут перемещаться на любое количество клеток.
        4.2.2 Дамки могут перемещаться как вперед, так и назад.
        4.2.3 Дамка не может «перепрыгивать» через шашки и дамки своего цвета.
        4.2.4 Дамка не может останавливаться на уже занятых клетках.
    4.3 Дамка обязана взять шашку или дамку противника, если та оказалась на одной с ней диагонали и за этой шашкой или дамкой имеется хотя бы одна свободная клетка.
        4.3.1 Сделав взятие, дамка может остановиться на любой свободной клетке за взятой шашкой или дамкой (не обязательно на соседней, как это было у обычных шашек).
        4.3.2 Если после взятия дамка может продолжить брать другие шашки или дамки противника, она обязана это сделать.
        4.3.3 Если шашка достигает последней горизонтали в результате взятия, она продолжает взятие уже как дамка (если у неё есть соответствующая возможность).
        4.3.4 Если шашка становится дамкой в результате обычного перемещения, то перемещаться или брать шашки и дамки противника она сможет только на следующем ходу.
    4.4 Максимальное количество дамок одного игрока не ограничено.

5. Конец игры
    5.1 Один из игроков не может сделать ход, либо он лишился всех шашек и дамок. Его противник становится победителем
    5.2 Один из игроков сдался. Его противник становится победителем.
    5.3 Игроки создали на поле ничейную ситуацию, а именно:
        5.3.1 игроки в третий раз повторили одно и то же расположение шашек и дамок (причём не обязательно три раза подряд).
        5.3.2 ни у одного из игроков нет возможности выиграть.
        5.3.3 в течение последних 15-ти ходов игроки перемещали одни лишь дамки, не делая взятия шашками.
        5.3.4 игроки сами договорились признать ничью. 
